{% extends 'base.html' %} {% load static %} {% block "title" %} - 資訊{%
endblock "title"%} {% block "main" %}
<h1>info</h1>
{% for i in info %}
<p>{{i.day}}</p>
<p>{{i.time}}</p>
<p>{{i.temperatures}}</p>
<p>{{i.humidity}}</p>
<p>{{i.water_stage}}</p>
<p>{{i.soil_humidity}}</p>
{% endfor %}
<canvas id="canvas"></canvas>
{% endblock "main"%} {% block "script" %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
  var dfsd = "{{info.0.soil_humidity}}";
  var lineChartData = {
    labels: ["00:00", "00:30", "9", "12", "15", "18", "21", "24", "27"],
    datasets: [
      {
        label: "未曾使用",
        lineTension: 0,
        backgroundColor: "#ea464d",
        borderColor: "#ea464d",
        borderWidth: 2,
        data: [10, 12, 15, 18, 22, 33, 50, 60, 130],
        fill: false,
      },
      {
        label: "罹癌後開始使用",
        lineTension: 0,
        backgroundColor: "#29b288",
        borderColor: "#29b288",
        borderWidth: 5,
        data: [12, 14, 18, 20, 21, 34, 60, 80, 200],
        fill: false,
      },
    ],
  };
  function drawLineCanvas(ctx, data) {
    window.myLine = new Chart(ctx, {
      type: "line",
      data: data,
      options: {
        responsive: true,
        legend: {
          display: true,
        },
        tooltips: {
          enabled: true,
        },
        scales: {
          // show the x, y
          xAxes: [
            {
              display: true,
            },
          ],
          yAxes: [
            {
              display: true,
            },
          ],
        },
      },
    });
  }
  window.onload = function () {
    var ctx = document.getElementById("canvas").getContext("2d");
    drawLineCanvas(ctx, lineChartData);
  };
</script>

{% endblock "script"%}
